@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
body,html{
    margin: 0px;
    padding: 0px;
    font-family: "Playwrite AU SA", serif;
    
}
.container{
    background: linear-gradient(135deg, #8a2be2, #4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    position:relative;
    min-height: 100vh;

}
.content{
    text-align: center; 
    background-color: rgba(255,2555,255,0.9);
    padding: 50px;
    
   
    width: 500px;
}
.logo{
    width: 250px;
    
}
h1{
    color: #333;
    margin-bottom: 20px;
}
p{
    color: #666;
}
form{
    display: flex;
    flex-direction: column;
}
input[type="email"]{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}
button{
    padding: 10px;
    background-color: #8a2be2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:background-color 0.3s ease-in-out ;
     box-shadow: 0 4px 5px rgba(0,0,0,0,0.9);
}
button:hover{
    background-color: #7a1dd1;
}
